@import './fonts/pretendard.css';
@import './editor.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: normal;
}

html,
body {
  @apply font-Pretendard;
  width: 100%;
  height: 100%;
}

pre,
code {
  @apply font-Pretendard;
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  height: 30%;
  width: 30%;
  background: #a6e8fe;

  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  @apply bg-primary;
}
